.worm_img {
    margin: 0;
    height: 15.41px;
    width: 30px;
    background-image: url('../../../../../assets//images/worm.png');
    background-size: contain;
    background-repeat: no-repeat;
}
