@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Zhi_Mang_Xing/ZhiMangXing-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'SF UI Display Heavy';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/sf-ui-display-cufonfonts-webfont/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Text Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/sf-ui-text/17023.ttf') format('ttf');
}

@font-face {
  font-family: 'SF UI Display Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/sf-ui-display-cufonfonts-webfont/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}