// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;
$logoFont: 'Zhi Mang Xing', cursive;

// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

html {
    line-height: $mainLineHeight;
    background-color: #fff;
    font-size: $mainFontSize;
    color: $mainFontColor;
    max-width: 1440px;
    margin: 0 auto;
    @media screen and (max-width: $desktopWidth) {
        font-size: 16px;
    }
    @media screen and (max-width: $tableWidth) {
        font-size: 15px;
    }
    @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
    }
}

body {
    max-width: 1440px;
    min-width: 375px;

    margin: 0 auto;
    padding: 0;
    position: relative;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.no-display {
    display: none;
}

.rhap_forward-button,
.rhap_play-pause-button,
.rhap_repeat-button,
.rhap_rewind-button,
.rhap_volume-bar-area,
.rhap_volume-button {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}
