.number {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #C4C4C4;
}

.green {
    color: rgb(121, 187, 144);
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .number {
        font-size: 10px;
        line-height: 12px;
    }
}
