.text_name {
    margin: 0 auto;
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.green {
    color: rgb(121, 187, 144);
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .text_name {
        font-size: 10px;
        line-height: 12px;
    }
}
