.button_text_wrapper {
  position: relative;
  width: 154px;
  height: 17px;
  margin: 0 auto;
}

.button {
  position: relative;
  margin-bottom: 37px;
  border: 2px solid #FFE604;
  height: 50px;
  outline: 0;
  &:hover {
    background: #FFEF5D;
    cursor: pointer;
  }
}

.button_deactivated {
  position: relative;
  cursor: not-allowed;
  margin-bottom: 37px;
  border: 2px solid #F3F3F3;
  height: 50px;
}

.arrow_top {
  content: '';
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 5.56px;
  background-image: url('../../../assets/images/arrowTop.png');
  right: -30px;
  top: 20px;
}

.rotate {
  transform: rotate(180deg);
}