.content_wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 37px;
}

.block {
  max-width: 710px;
  background: #F3F3F3;
  margin-right: 20px;
  
  
  &:last-child {
    margin-right: 0px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 159px;
      height: 142px;
      background-image: url('../../assets/images/ill_bird.png');
      z-index: 100;
      top: -126px;
      right: 150px;
    } 
  }

  h2 {
    margin-bottom: 15px;
  }

  p {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 15px;
  }
}

.block_inner_wrapper {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 142px;
  margin-right: 17px;
}

.block_inner_wrapper_right {
  margin-left: 26px;
  margin-right: 140px;
}

.button__wrapper {
  margin: 0 auto;
}

.button {
  outline: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #F3F3F3;
  margin-bottom: 19px;
  padding-left: 34px;
  font-family: SF UI Text;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

  &:focus {
    outline: none;
  }

  &:hover {
    outline: none;
  }

  &:first-child {
    &::after {
      content: '';
      position: absolute;
      width: 82px;
      height: 73px;
      background-image: url('../../assets/images/ill_bird.png');
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 100;
      top: -64px;
      right: 0px;
    } 
  }
  
  p {
    line-height: 38px;
  }

  .button_text {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 15px;
    margin-right: 10px;

  }
}

.button_arrow {
width: 25px;
height: 5.56px;
background-image: url('../../assets/images/arrowTop.png');
position: absolute;
top: 16px;
right: 18px;
}

@media only screen
and (min-width: 376px)
and (max-width: 1024px) {
  .how-to-content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .how-to-block {
    margin-right: 0px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    
    &:last-child {
      width: 100%;
      margin-bottom: 0px;
  
      &::after {
        top: -350px;
        right: 0px;
      } 

      h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
      }
    
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
    }
  
    p {
      font-size: 12px;
      line-height: 14px;

      &:last-child {
        margin-bottom: 36px;
      }
    }

  }

  .how-to-block-inner-wrapper {
    width: 83%;
    padding-top: 16px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    margin:  0 auto;
  }

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
  .how-to-content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .how-to-block {
    margin-right: 0px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    
    &:last-child {
      width: 100%;
      margin-bottom: 0px;
  
      &::after {
        top: -350px;
        right: 0px;
      } 

      h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
      }
    
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
    }
  
    p {
      font-size: 12px;
      line-height: 14px;

      &:last-child {
        margin-bottom: 36px;
      }
    }

  }

  .how-to-block-inner-wrapper {
    width: 83%;
    padding-top: 16px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    margin:  0 auto;
  }

}




@media only screen
and (min-width: 320px)
and (max-width: 480px) {
  .how-to-content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .how-to-block {
    margin-right: 0px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    
    &:last-child {
      width: 100%;
      margin-bottom: 0px;
  
      &::after {
        top: -320px;
        right: 4px;
        width: 82px;
        height: 73px;
        background-size: cover;
      } 

      h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
      }
    
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
    }
  
    p {
      font-size: 12px;
      line-height: 14px;

      &:last-child {
        margin-bottom: 36px;
      }
    }

  }

  .how-to-block-inner-wrapper {
    width: 83%;
    padding-top: 16px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    margin:  0 auto;
  }
}
